<%- include('../header') %> <%- include('../sidebar') %>
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- end page title -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0">Edit Employee</h4>
            </div>
            <!-- end card header -->
            <div class="card-body">
              <form
                method="post"
                action="/employee/update"
                enctype="multipart/form-data"
              >
              <input type="hidden" name="id"   value="<%= item.id %>">
                <div class="mt-4">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-ccard" class="form-label"
                          >Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="cleave-ccard"
                          name="name"
                          placeholder="Enate Name.."
                          value="<%= item.name %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-delimiters" class="form-label"
                          >Salary</label
                        >
                        <input
                          type="text"
                          name="salary"
                          class="form-control"
                          id="cleave-delimiters"
                          placeholder="Enter Salary.."
                          value="<%= item.salary %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-ccard" class="form-label"
                          >Roll</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="cleave-ccard"
                          name="roll"
                          placeholder="Enate Roll.."
                          value="<%= item.roll %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-delimiters" class="form-label"
                          >Mobile Number</label
                        >
                        <input
                          type="text"
                          name="mobile"
                          class="form-control"
                          id="cleave-delimiters"
                          placeholder="Enter mobile Number.."
                          value="<%= item.mobile %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->

                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-ccard" class="form-label"
                          >Aadhar Card</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="cleave-ccard"
                          name="aadharcard"
                          placeholder="Enate Addhar.."
                          value="<%= item.aadharcard %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-delimiters" class="form-label"
                          >Address With Pincode</label
                        >
                        <input
                          type="text"
                          name="address"
                          class="form-control"
                          id="cleave-delimiters"
                          placeholder="Enter Address.."
                          value="<%= item.address %>"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->




                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-delimiter" class="form-label"
                          >Select Status</label
                        >
                        <select class="form-control" name="status" >
                          <option value="1" <%=item.status==='1' ? 'selected' : '' %>>ENABLE</option>
                          <option value="0" <%=item.status==='0' ? 'selected' : '' %>>DISABLE</option>
                        </select>
                      </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">
                      <div class="mb-3">
                        <label for="cleave-prefix" class="form-label"
                          >Employee Photo
                        </label>
                        <input
                          type="file"
                          class="form-control"
                          name="image"
                          id="cleave-prefix"
                        />
                        <input
                          type="hidden"
                          class="form-control"
                          name="oldimage"
                          id="cleave-prefix"
                          value="<%= item.image %>"
                       />
                      </div>
                      <img style="width: 150px;
                      height: 130px; border-radius: 16px;"  src="../../static/img/<%= item.image %>" alt="">
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->

                  <div class="row">
                    <div class="col-xl-6">
                      <div class="mb-3 mb-xl-0">
                        <input type="submit" class="btn btn-success" />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                </div>
              </form>
              <!-- end form -->
            </div>
            <!-- end card-body -->
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          © Velzon.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Design & Develop by Themesbrand
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->

<%- include('../footer') %>
